@use "../colors.scss";

.nav {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-light);
}
.list {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  grid-column: 2;
}
.link {
  display: block;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: royalblue;
  color: white;
  font-size: 2rem;
  border-radius: 1.2rem;
  transition: 250ms ease-in-out opacity;
  &:not(.active) {
    opacity: 0.5;
    &:hover {
      opacity: 0.7;
    }
  }
}
