.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(#222, 0.15);
  &:not(.active) {
    display: none;
  }
  .wrapper {
    padding: 4rem;
    border-radius: 1.2rem;

    background-color: royalblue;
    color: whitesmoke;
  }
}
