@use "../../styles/colors.scss";
.wrapper {
  color: var(--color-light);
  background-color: var(--color-dark-darker);
  padding: 2rem;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  color: colors.$color-light;
  padding: 0.5rem;
  margin: 1rem;
  transition: 250ms ease-in-out background-color;
  &Sex {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    border-radius: 1.5rem;
    &:hover {
      background-color: var(--color-primary-light);
    }
  }
  &Balance {
    color: var(--color-light-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 0.5rem;
    background-color: var(--color-dark);
    &:hover {
      background-color: var(--color-dark-darker);
    }
  }
}
