.table {
  padding: 2rem;
  background-color: darken(#323232, 10%);
  color: whitesmoke;
  border-spacing: 2rem;
}
.headings {
  font-size: 1.8rem;
}
.headingsLine {
  background-color: whitesmoke;
  height: 2px;
}
