@import "./styles/colors.scss";
@import "./styles//fonts.scss";
@import "./styles/reset.scss";

body {
  font-family: "Poppins";
}
#root {
  height: 100%;
  margin: 0 auto;
}
#page {
  height: 100%;
  background-color: var(--color-dark);
  color: var(--light-color);
  --color-light: #{$color-light};
  --color-light-lighter: #{$color-light-lighter};
  --color-light-darker: #{$color-light-darker};
  --color-dark: #{$color-dark};
  --color-dark-lighter: #{$color-dark-lighter};
  --color-dark-darker: #{$color-dark-darker};
  --color-primary: #{$primary};
  --color-primary-light: #{$primary-light};
  --color-primary-dark: #{$primary-dark};
  &.dark {
    --color-light: #{$color-dark};
    --color-light-lighter: #{$color-dark-lighter};
    --color-light-darker: #{$color-dark-darker};
    --color-dark: #{$color-light};
    --color-dark-lighter: #{$color-light-lighter};
    --color-dark-darker: #{$color-light-darker};
  }
}
main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem;
}
